html {
    height: 100%;
    width: 100%;
  }

  body {
    margin:0;
    background-image: url("image/olivegreen.jpg");
    background-repeat: repeat;
    background-size: cover;
  }

  .container {
    background-color: white;
    min-height:100vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .task-area {
     border:1px solid lightgreen;
     color: #2ecc71;
  }
  
  .task-tabs {
    display: flex;
    border-bottom:1px solid lightgreen;
    position:relative; 
  }

  .task-tabs div{
     padding:1.5em;
  }

  #under-line{
    height:4px;
    background-color: palegoldenrod;
    position: absolute;
    width:80px;
    left:0px;
    top:60px;
    padding:0px;
   }
  
   .task {
    display:flex;
    justify-content: space-between;
    padding: 1em;
   }


  .box {
    border:1px solid #2ecc71;
    text-emphasis-color:#2ecc71;
  }
  
  
  .btn-outline-success{
    color: #2ecc71;
    border-color: #f1c40f;
    background-color:white;
   }
  
  .btn-outline-success:hover{
    background-color:#f1c40f;
    color:white;
    border-color: #f1c40f; 
   } 
  
  .yelly-outline{
    color: #2ecc71;
    font-size: 2em ;
  }
  
  .yelly-outline:hover{
    
    background-color:ivory;
    color:#f1c40f;
    border-color:#f1c40f;
  }
   
   .mint-title{
     color:#2ecc71;
     font-size: 4em ;
   }
   
   @media screen and (max-width:48rem) 
   {
    .first-line
     {
      text-align : center;
      padding-left : 2rem;
      padding-right : 2rem;
      boder-bottom : 1px solid #2ecc71 ;
     }
   }
  @media screen and (max-width:48rem)
  {
   .third-line{
     display:block; 
    } 
   }

   
 
    
